.blog-list {
    width: 80vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}

.blog-list__item {
    width: 30%;
}

.item__button {
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(10, 176, 253);
    cursor: pointer;
}

.item__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.item__content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 70px;
}